<h2>Detalle</h2>
      <p>
          Id pelicula: {{pelicula.id}}
      </p>
      <p>
          Nombre pelicula: {{pelicula.nombre}}
      </p>
      <p>
          Genero de pelicula: {{pelicula.genero |titlecase}}
      </p>
      <p>
          Fecha de estreno: {{pelicula.fechaDeEstreno |date:'dd/MM/yyyy'}}
      </p>
      <p>
          Cantidad de publico: {{pelicula.cantidadPublico |number}}
      </p>
      <p>
          Foto: {{pelicula.fotoPelicula}}
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >View details &raquo;</a>
</p>
