<div class="col-md-5 col-lg-4 order-md-last">
    <h4
        class="d-flex justify-content-between align-items-center mb-3"
    >
        <span class="text-primary">Seleccionar Pais</span>
    </h4>
    <ul class="list-group mb-3 lista-paises">
        <li *ngFor="let pais of paises|async" class="list-group-item" (click)="enviarPais(pais)">
            <img [src]="pais.flags.svg" [alt]="pais.name.common" style="width: 2rem;">
            {{pais.name.common}}
        </li>
        <!-- <li class="list-group-item">Argentina</li>
        <li class="list-group-item">Brasil</li>
        <li class="list-group-item">Uruguay</li>
        <li class="list-group-item">Paraguay</li>
        <li class="list-group-item">Chile</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li>
        <li class="list-group-item">Bolivia</li> -->
    </ul>
</div>
