<div class="container">
	<main>
		<div class="py-5 text-center">
			<!-- <img
				class="d-block mx-auto mb-4"
				src="../assets/brand/bootstrap-logo.svg"
				alt=""
				width="72"
				height="57"
			/> -->
			<h2>Alta de Actor</h2>
			<p class="lead">
				Este es una pagina donde podras dar de alta a un actor 
			</p>
		</div>

		<form class="needs-validation" autocomplete="off" [formGroup]="actorForm" (ngSubmit)="altaActor()">
			<input autocomplete="false" name="hidden" type="text" style="display:none;">
			<div class="row g-5">
				<div class="col-md-7 col-lg-8">
					<h4 class="mb-3">Datos del Actor</h4>
					<div class="row g-3">
						<div class="col-sm-6">
							<label for="firstName" class="form-label"
								>Nombre</label
							>
							<input type="text" name="nombre" class="form-control" id="firstName" placeholder="Nombre" formControlName="nombre" required/>
							<div *ngIf="actorForm.controls['nombre'].errors?.['required']" class="invalido">
								<p>El nombre es requerido</p>
							</div>
							<div *ngIf="actorForm.controls['nombre'].errors?.['minlength']" class="invalido">
								<p>El nombre debe ser mayor a 2 letras</p>
							</div>
						</div>

						<div class="col-sm-6">
							<label for="lastName" class="form-label"
								>Apellido</label
							>
							<input type="text" apellido="apellido" class="form-control"id="lastName" placeholder="Apellido" formControlName="apellido" ngModel required/>
							<div *ngIf="actorForm.controls['apellido'].errors?.['required']" class="invalido">
								<p>El apellido es requerido</p>
							</div>
							<div *ngIf="actorForm.controls['apellido'].errors?.['minlength']" class="invalido">
								<p>El apellido debe ser mayor a 2 letras</p>
							</div>
						</div>	
						<div class="col-6">
							<label class="form-label">Edad</label>
							<div class="input-group has-validation">
								<input type="number" name="edad" class="form-control" id="username" placeholder="Edad" 
								formControlName="edad" ngModel required/>
								<br>
								
							</div>
							<div *ngIf="actorForm.controls['edad'].errors?.['required']" class="invalido">
								<p>La edad es requerida</p>
							</div>
							<div *ngIf="actorForm.controls['edad'].errors?.['min']" class="invalido">
								<p>La edad debe ser mayor de 2 años</p>
							</div>
							<div *ngIf="actorForm.controls['edad'].errors?.['max']" class="invalido">
								<p>La edad debe ser menor a 99 años</p>
							</div>
							
						</div>		
							

					</div>

					<hr class="my-4" />
					
					<div class="row">
						<div class="col-6">
							<label class="form-label">Pais de Nacimiento</label>
							<input type="text" name="pais" class="form-control" placeholder="Nacionalidad" formControlName="pais" ngModel required/>
							<div *ngIf="actorForm.controls['pais'].errors?.['required']">
								Por favor seleccione el pais desde la tabla de la derecha.
							</div>
						</div>
						<div class="col">
							<img class="align-bottom" *ngIf="actor.pais?.flags?.svg" [src]="actor.pais?.flags?.svg" width="100px">
						</div>		
					</div>
				</div>
				<app-tabla-paises (paisSeleccionadoEvent)="cargarPais($event)"></app-tabla-paises>
			</div>
      <!-- <button class="w-50 btn btn-primary btn-lg" type="submit">
        Dar de alta
      </button> -->
	  <hr class="my-4" />
	  <p class="invalido" *ngIf="!actorForm.valid">Complete el formulario para habilitar el boton.</p>
		<button class="w-50 btn btn-primary btn-lg" type="submit" [disabled]="!actorForm.valid">Dar de Alta</button>
		</form>
	</main>

	<footer class="my-5 pt-5 text-muted text-center text-small">
		<p class="mb-1">&copy; 2022 Fernando Luque</p>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Privacy</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Support</a></li>
		</ul>
	</footer>
</div>
