<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Fecha</th>
            <th>Cantidad de Publico</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaDePeliculas" (click)="mostrarDetalle(item)">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.genero |titlecase}}</td>
            <td>{{item.fechaDeEstreno | date:'dd/MM/yyyy'}}</td>
            <td>{{item.cantidadPublico |number}}</td>
            <td *ngIf="item.fotoPelicula"><img [src]="item.fotoPelicula" [alt]="item.nombre" width="50px"></td>
        </tr>
        
    </tbody>
</table>
