<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Cantidad de Publico</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaDePeliculas" (click)="mostrarDetalle(item)">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.fechaDeEstreno}}</td>
            <td>{{item.cantidadPublico}}</td>
            <td>{{item.fotoPelicula}}</td>
        </tr>
        
    </tbody>
</table>
